/* nav style */
nav {
    display: flex;
}
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nav-title{
        width: 800px;
        font-size: 45px;
  }
  .text-primary{
    color: #FD6E0A;
  }
  nav{
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
  }
  nav ul{
    display: flex;
    align-items: center;
    
  }
  nav ul li{
    list-style: none;
    margin: 40px;
  }
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  .dark-2 {
    color: #474747;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .banner-greetings{
    font-weight: 600px;
    font-size: 45px;
  }
  .banner-title{
    font-size: 85px;
    font-weight: 800px;
    
  }
  .dark-1{
    color: #181818;
  }
  .banner-content{
    font-weight: 400px;
    font-size: 18px;
    max-width: 585px;
  }
  .dark-3{
    color: #757575;
  }
  .banner-profile-pic{
    width: 584px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 230px;
  }
  .header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
.section-title{
  font-weight: 800px;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.section-description{
  font-weight: 400px;
  font-size: 18px;
  color: #757575;
}
.secondary-bg{
  background-color: #FFF8F3;
}
/*about styles*/
.about{
  border-radius: 10px;
  padding: 130px 150px;
  margin: 130px auto ;
  text-align: center;
}

/* main style */

main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about items style */
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-title{
  font-size: 20px;
  font-weight: 400px;
}
.item-description{
  font-size: 20px;
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.skill-container{
  display: flex;
  gap: 18px;
}
.skill{
  box-shadow:0 6px 50px 0 rgba(0, 0, 0, 0.06) ;
  padding: 24px;
  border-radius: 5px;
  width: 267px;
  height: 377px;
  background-color: #FFFFFF;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
.skill-description{
  font-size: 16px;
  font-weight: 400px;
  width: 201px;
  height: 243px;
  text-align: left;
}
.resume-container{
  display: flex;
  gap: 24px;
}
.experience-description{
  font-size: 16px;
  color: #757575;
  margin-bottom: 60px;
}
.experience-title{
  color: #474747;
  font-size: 25px;
  margin-bottom: 10px;
}
.experience-sub-title{
  color: #757575;
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 20px;
}
.resume-colume-title{
  margin-bottom: 30px;
}
.resume hr{
  margin: 30px auto;
}

/* footer style */

footer{
  display: flex;
  padding: 130px 230px;
  gap: 100px;
}
.footer-colume{
  width: 50%;
  /* display: block; */
}
footer input[type="text"], [type="email"] {
  width: 461px;
  height: 64px;
  background-color: white;
  display: block;
  padding: 10px 30px;
  margin-bottom: 24px;
  border: none;
}
footer textarea{
  display: block;
  padding: 30px 30px;
  margin-bottom: 24px;
  border: none;
  background-color: white;
  width: 461px;
  height: 180px;
  font-size: 16px;
}



