/* nav style */
nav {
    display: flex;
}
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nav-title{
        width: 800px;
        font-size: 45px;
  }
  .text-primary{
    color: #FD6E0A;
  }
  nav{
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
  }
  nav ul{
    display: flex;
    align-items: center;
    
  }
  nav ul li{
    list-style: none;
    margin: 40px;
  }
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  .dark-2 {
    color: #474747;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-size: 15px;
    font-weight: 800px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
  }
  .banner-greetings{
    font-weight: 600px;
    font-size: 45px;
  }
  .banner-title{
    font-size: 85px;
    font-weight: 800px;
    
  }
  .dark-1{
    color: #181818;
  }
  .banner-content{
    font-weight: 400px;
    font-size: 18px;
    max-width: 585px;
  }
  .dark-3{
    color: #757575;
  }
  .banner-profile-pic{
    width: 584px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 230px;
  }
  .header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
.section-title{
  font-weight: 800px;
  font-size: 35px;
  color: #181818;
}
.section-description{
  font-weight: 400px;
  font-size: 18px;
  color: #757575;
}